@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Rambla', sans-serif;
  
  }
  h1{
    font-size: 45px;
    line-height: 55px;
    color: white;
  }


  p{
    font-size: 16px;
    color: #E1DDDD;
    font-family: 'Rambla', sans-serif;

  }
  html,body{
    width: 100%;
   overflow-x: hidden;
   font-family: 'Rambla', sans-serif;
  }
  
/** HEADER START **/

#Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  padding: 20px 50px;
  z-index: 1000;

}
.header-image{
 width: 130px;


}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  
}

#navbar li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease;
  
}

#navbar li a.active,
#navbar li a:hover{
  color: #289186;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #289186;
  position: absolute;
  bottom:-4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

/* Section Start */

#Hero{
  background-image: url("keyb logo/pic.jpg");
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-position: top 30% right 0%;


}

#section2{
  background-color:  #0C0C0F;
 
  padding: 90px 70px;
}
#section2 h1{
  width: 100%;
  font-weight: 600;

  font-size: 38px;
  
}
#section2 h1 span{
  color: #289186;
}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  

}
.album-photo{
  width: 95%;
  box-sizing: border-box;
  

}
.avatar{
  overflow: hidden;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

/* About Us Start */

#About-us{
  background-color:  #0C0C0F;
  padding: 40px 70px;
  
  
}
#About-us h1{
text-align: center;
color: #289186;
}
#About-us p{
  width: 100%;
  text-align: center;
  line-height: 25px;

}
#talk-button{
  display: flex;
  justify-content: center;
  margin: 30px 0px 15px 0px;
}
#About-us a{
  text-decoration: none;
}

 #About-us .mail-button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline:none;
  transition:0.2s;
  display: flex;
  justify-content: center;
}

#About-us .mail-button:hover{
  background-color: #289186;
}

.video{
  padding: 60px 0px 10px 0px;
}


/* Services */

#Services{
  background-color: #0C0C0F;
  
  

}
#Services h1{
  text-align: center;
  padding: 40px 70px;
  color: #289186;
}

#services-con{
  display: flex;
  justify-content: center;
  align-items: center;
}
#services-con1{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;

}

#services-con i{
  margin-bottom: 25px;
  color: #289186;
  font-size: 40px;
  margin: 18px 0;

}
#services-con h4{
color: #289186;
margin-bottom: 18px;
font-weight: 500;
}

#services-con p{
  margin-bottom: 25px;
  font-weight: 400;
  line-height: 22px;
}
#services-con button{
  background-color:#289186;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s; 
}
#services-con button:hover{
  background-color: transparent;
  border: 2px solid #289186;
  cursor: pointer;
}

/* Footer */

footer{
  position: relative;
  width: 100%;
  height: 350px;
  background:  #0C0C0F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  /* margin-bottom: 10px; */
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 300px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
  margin-bottom: -90px;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #289186;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
.end{
  position: absolute;
  color:#289186;
  bottom: 35px;
  font-size: 14px; 
}

/* Services Page */

/* First section */
#Section1{
  background-image: url('keyb logo/services1.jpg');
  width: 100%;
  background-size: cover;
  height: 100vh;
  filter: blur(-10px);
  align-items: center;
  text-align: center;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;


}
#Section1 h1{
color: white;
text-align: center;
padding-top: 250px;
}
#Section1 h4{
  color: white;
  text-align: center;
  padding: 20px 30px;
  font-weight: 400;
}
.button1{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline:none;
  transition:0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#Section1 button:hover{
  background-color: #289186;
}

/* Why keybloom section */
#why-keybloom{
 align-items: center;
 text-align: center;
 padding-top: 60px;
 background-color:  #0C0C0F;
}
#why-keybloom h4{
  color: white;
}

#why-keybloom p{
  color: white;
  padding-top: 20px;
}


#solutions-con{
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
#solutions-con1{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
  
  }
  #solutions-con1 i{
  font-size: 30px;
  color: #289186;
  padding-bottom: 20px;
  }

  /* what section */

  #What-section{
    background-color: #fff;
    padding: 70px 70px;

  }
  .What-section1{
    align-items: center;
    text-align: center;
   
  }
  #What-section h1{
    color: black;
  }
  #What-section p{
    color:black;
    padding-top: 20px;
  }
  #What-section-con1,#What-section-con2, #What-section-con3, #What-section-con4{
    display: flex;
    flex-direction: row;
    padding: 70px 0px 70px 0px;
  }
  .what-section-image{
    width: 35%;
    height: 100%;
    vertical-align: top;
    padding: 0px 40px 0px 30px;
    margin-left: 0px 70px 0px 70px;
  }
  #What-section h3{
    font-weight: 800;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    color: black;
  }
  #What-section h4{
    font-weight: 700;
    color: #289186;
  }
  #What-section p{
    font-size: 20px;
  }
  .streaming-image{
    width: 70%;
    padding-top: 20px;
    display: inline-block;
    margin-top: 20px;
    
  }

#What-section button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
  color: #289186;
  background-color: #E6E6EB;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline:none;
  transition:0.2s;
  border-color: #289186;
  border-style: solid;
  margin-top: 45px;
 
  
}
#What-section button:hover{
  color: #fff;
  background-color: #289186;
}

#Testimonial{
 align-items: center;
 text-align: center;
 padding-top: 60px;

 background-color:  #0C0C0F;

}
#Testimonial h1{
  color: white;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.testimonial {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.testimonial-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial-text {
  font-size: 20px;
  margin: 10px 0;
  color: white;
}

.testimonial-author {
  font-style: italic;
  font-weight: bold;
  color: white;
}

/* about us page */
/* About us hero image */
#about-us-img img{
  width: 100%;
  height: 75vh;
  position: relative;
  
}
.about-us-img-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: #fff;
  top: 200px;
  bottom: 0;
  padding-left: 70px;
}
#about-us-img h4{
  color: #289186;
  margin-bottom: 10px;
}
#about-us-img p{
  margin-top: 20px;
}

#about-us-img button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
  color: #289186;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline:none;
  transition:0.2s;
  border-color: #289186;
  border-style: solid;
  margin-top: 45px;
 width: 150px;
 white-space: nowrap;
}
#about-us-img button:hover{
  color: #fff;
  background-color: #289186;
}
/* Quote section */
#Quote{
  background-color: #E6E6EB;
 align-items: center;
 text-align: center;
 width: auto;
  padding: 50px 50px;
  

}
#Quote h1{
 color: black; 
 font-family: 'Rambla', sans-serif;
}
#Quote h4{
  color: #289186;
}

#Story{
 background-color:  #0C0C0F; 
}
.Story-con{
  display: flex;
  flex-direction: row;
  padding: 20px 0px 0px 0px;

}
.story-image{
  width: 40%;
  height: 100%;
  vertical-align: top;
  padding: 40px 40px 0px 30px;
  margin-left: 0px 70px 0px 70px;
}
#Story h1{
  color:#289186;
  padding: 20px;
}
#Story p{
  
      padding: 10px;
      width: 85%;
      font-size: 21px;
      line-height: 27px;

}
#Mission{
  background-color:  #0C0C0F;
  display: flex;
  flex-direction: row;

}
#Mission h2{
  color: #289186;
}
.Mission-con{
  padding: 60px;
  width: 85%;
  background-color:  #0C0C0F;
}
.Vision-con{
  padding: 60px;
  width: 85%;
 
 
}

.Vision-con p,.Mission-con p{
  line-height: 27px;
  font-size: 21px;

}

/* Contact Us */

#Contact-us-image img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
 
.form-con{
  display: flex;
  flex-direction: row;
  
}



#form-details .contact-us {
  display: flex;
  flex-direction: column;
}

#Form-input{
  padding-top: 110px;
  padding-bottom: 50px;
  width: 70%;
}

.contact-us{
  width: 50%;
  padding:  120px 70px 70px 70px;
  align-items: center;
 vertical-align: baseline;
 position: relative;

}
.contact-us p{
  color: #000;
  font-size: 23px;
  font-weight: 500;
  padding-top: 50px;
  line-height: 35px;
}
.contact-us h1{
  color: #000;
  font-size: 60px;
  
}
.contact-us h1::after{
  content: "";
  width: 100px;
  height: 3px;
  background-color:  #0C0C0F;
  position: absolute;
  top: 260px;
  left: 70px;

}

/* Media Query */
@media (max-width:480px){
  #Header{
    display: flex;
    justify-content: space-between;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    height: 100vh;
    width:300px;
  background-color: #000;
  box-shadow: 0 40px 60px rgba(0,0, 0, 0.1);
  padding: 80px 0 0 10px;
  transition: 0.3s;
  z-index: 12 ;

}
#navbar.active{
  right:0px;
}
#navbar li{
margin-bottom: 24px ;

}
#mobile{
display: flex;
align-items: center;
}

#mobile i{
color: white;
font-size: 20px;
padding-left: 20px; 
cursor: pointer;
}
#close{
  display: initial;
  position:  absolute;
  top: 40px;
  right: 20px;
  font-size: 20px;
  color: white;

}

.form-con{
  display: flex;
  flex-direction: column;
}
.contact-us{
 padding:  100px 10px 70px 10px;
align-items: center;


}
.contact-us h1 {
white-space: nowrap;
font-size: 30px;
}
.contact-us h1::after{
  content: "";
  width: 100px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 160px;
  left: 10px;

}
.contact-us p{
  color: #000;
  font-size: 15px;
  font-weight: 400;
  padding-top: 50px;
  line-height: 35px;
  width: 420px;
}

#Form-input{
  padding: 0px 15px 30px 15px;
  width: 100%;
}


/* About US page  */
#about-us-img img{
  width: 100%;
  height: 80vh;
  position: relative;

  
}

.about-us-img-text{
  
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  color: #fff;
  top: 120px;
  bottom: 0;
  padding-left: 40px;
  
}

.Story-con{
  display: flex;
  flex-direction: column;
 

}
.story-image{
  display: none;
}

.Story-con h1{
  
  font-size: 40px;
  align-items:center ;
  text-align: center;
}
#Story p{
  padding: 15px;
  width: 100%;
}
#Mission{
  background-color:  #0C0C0F;
  display: flex;
  flex-direction: column;
  
}
#Mission h2{
  text-align: center;
  padding: 20px 0 20px 0;
}
.Mission-con{
  padding: 15px;
  width: 100%;
  background-color:  #0C0C0F;
}
.Vision-con{
  padding: 15px;
  width: 100%;
 
 
}
.Vision-con p,.Mission-con p{
  line-height: 27px;
  font-size: 25px;
}

/* Services Page */
#Section1{
background-image: url('keyb logo/services1.jpg');
  width: 100%;
  height: 90vh;
  align-items: center;
  text-align: center;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  line-height: 27px;


}
#Section1 h1{
  color: white;
  text-align: center;
  padding-top: 150px;
  }
  #Section1 h4{
    font-size: 18px;
    width: 400px;
    padding-top: 5px;
  }
  #solutions-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
#solutions-con1{
  height: 250px;
  width: 100%;
  padding: 20px 35px;
  position: relative;
  overflow: hidden;
  

}
#What-section{
  background-color: #E6E6EB;
  padding: 20px 20px;
  font-family: 'Rambla', sans-serif;
}
#What-section h1{
  color: black;
  white-space: nowrap;
  font-size: 30px;
}
#What-section-con1,#What-section-con2, #What-section-con3, #What-section-con4{
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}
.what-section-image{
  
  display: none;
  }
  #What-section h3{
   
    text-align: center;
  }
  #What-section h4{
    font-weight: 700;
    color: #289186;
    text-align: center;
    white-space: nowrap;
  }
  #What-section-con4 h4{
    white-space: pre-wrap;
  }
  #What-section p{
    font-size: 18px;
    width: 100%;
  }
  .streaming-image{
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    margin-top: 20px;
    
  }
  #What-section-con1 p,#What-section-con2 p, #What-section-con3 p, #What-section-con4 p{
    width: 100%;
  }
  #What-section button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    color: #289186;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline:none;
    transition:0.2s;
    border-color: #289186;
    border-style: solid;
    margin-top: 45px;
   align-items: center;
   object-position: center; 
   text-align: center;
   
  }
#Hero{
  background-position: center;
  height: 50vh;
  
}
#section2{
  background-color:  #0C0C0F;
  height: 1550px;
  padding: 50px 50px;
}
.image-container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
    
}
.album-photo{
  width: 90%;
  padding-left: 30px;
  padding-top: 10px;
  
}
.avatar{
  transform: none;
  animation: none;
}

#Services{
  background-color: #0C0C0F;
  height: 1750px;
  

}


#services-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



}

@media (min-width: 481px) and (max-width: 820px){
  /* Contact us page */
  #Header{
    display: flex;
    justify-content: space-between;
  }

  .form-con{
    display: flex;
    flex-direction: column;
  } 

  .contact-us{
    padding:  100px 40px 20px 40px;
   align-items: center;
   width: 100%;
   
   
   }


   .contact-us h1 {
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    }
    .contact-us h1::after{
      content: "";
      width: 270px;
      height: 3px;
      background-color: #000;
      position: absolute;
      top: 160px;
      left: 250px;
    
    }

    .contact-us p{
      color: #000;
      font-size: 20px;
      font-weight: 400;
      padding-top: 50px;
      line-height: 35px;
      width: 720px;
      text-align: center;
    }

    #Form-input{
      padding: 30px 0px 30px 0px;
      width: 100%;
    }
    
    /* About us page */
    #about-us-img img{
      width: 100%;
      height: 55vh;
      position: relative;
     
     
      
    }
    .story-image{
      display: none;
    }
    #Story h1{
      color:#289186;
      padding: 20px;
      text-align: center;
    }
    #Story p{
      padding: 15px;
      width: 100%;
      line-height: 30px;

    }
    .Vision-con p,.Mission-con p{
      line-height: 25px;
      font-size: 17px;
      font-weight: 500;
    }
    /* Services page */
    #Section1{
      background-image: url('keyb logo/services1.jpg');
        width: 100%;
        height: 100vh;
        filter: blur(-10px);
        align-items: center;
        text-align: center;
        padding: 0 40px 0 40px;
        display: flex;
        flex-direction: column;
        line-height: 27px;
        font-size: 18px;
      
      }
      #solutions-con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

      
    }   
    #solutions-con1{
      height: 250px;
      width: 100%;
      padding: 20px 35px;
      position: relative;
      overflow: hidden;
      flex: 40%;
    
    }
    .what-section-image{
  
      display: none;
      }
      #What-section p{
        font-size: 18px;
        width: 100%;
        line-height: 25px;
      }

      #Hero{
        background-position: center;
        height: 70vh;
        
      }
      #section2{
        background-color:  #0C0C0F;
        /* height: 1000px; */
        padding: 50px 50px;
      }
      .image-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 20px;
       
          
      }
      .album-photo{
        width: 100%;
        
        
      }
      .avatar{
        transform: none;
        animation: none;
        flex: 40%;
        padding: 20px;
      }
      #About-us{
        background-color:  #0C0C0F;
        padding: 40px 70px;

      }
      .image-containers{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        flex-wrap: wrap;
      }
      #services-con{
  display: grid;
 grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

}